@import "../../shared/base.scss";
@import "../../shared/sliderStyles/rangeSlider.scss";

.example {
  margin: 40px 0 0 10px;
  &__slider {
    height: 500px;
    width: 500px;
    padding: 20px;
    border: solid 1px;
    border-radius: 5px;
    border-color: black;
  }
}
