div.example 
  div.example__slider
  div.example__input
    input.example__input-vertical(type="checkbox")
    text.example__input-text Вертикальность

    input.example__input-handles-pushed(type="checkbox")
    text.example__input-text Возможность толкания

    input.example__input-number-rounding(type="number")
    text.example__input-text Округление значений после запятой

    input.example__input-max-value(type="number")
    text.example__input-text Максимальное значение

    input.example__input-min-value(type="number")
    text.example__input-text Минимальное значение

    input.example__input-step-size(type="number")
    text.example__input-text Размер шага

    input.example__input-handles(type="number")
    text.example__input-text Количество рычажков
