div.example 
  div.example__slider
  input.example__input-vertical(type="checkbox")
  input.example__input-handles-pushed(type="checkbox")
  input.example__input-number-rounding(type="number")
  input.example__input-max-value(type="number")
  input.example__input-min-value(type="number")
  input.example__input-step-size(type="number")
  input.example__input-max-steps(type="number")
  input.example__input-number-auto-mark(type="number")
  input.example__input-handles(type="text")
  input.example__input-custom-mark-array(type="text")
  input.example__input-borders-fill-strips(type="text")