@import "./base.scss";

.range-slider {
  position: relative;

  &__slider-roller {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5px;
    background-color: white;
    border: 0.5px solid black;
  }

  &__scale-container {
    position: absolute;
    display: flex;
    left: -5px;
    top: 2.5px;
    width: 100%;
    height: min-content;
  }

  &__scale-mark {
    &-container {
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &-separator {
      height: 5px;
      width: 0.2px;
      background-color: black;
    }
    &-value {
      max-width: 10px;
      width: 10px;
      height: 5px;
      font-size: 5px;
      user-select: none;
      &-text {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__handle {
    &-container {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10px;
      height: 10px;
    }
    &-view {
      position: relative;
      left: -5px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: aquamarine;
      user-select: none;
      z-index: 1;
    }
    &-value {
      position: absolute;
      left: -5px;
      top: -6px;
      max-width: 10px;
      width: 10px;
      height: 5px;
      font-size: 5px;
      user-select: none;
      &-text {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__flip-scrip {
    position: absolute;
    height: 1.5px;
    background: linear-gradient(270deg, blue, pink);
  }
}
