@import "../base.scss";
@import "./fillStrip.scss";
@import "./handle.scss";
@import "./roller.scss";
@import "./scaleMarker.scss";

.range-slider {
  position: relative;
  width: 100%;
  height: auto;

  &_vertical {
    width: auto;
    height: 100%;
  }
}
