$secondary-size: 15px;
$handle-size: 20px;
$font-size: 15px;
//

//Стили ролька.
%slider-roller {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: $secondary-size;
  background-color: white;
  border: 1px solid black;
}
%slider-roller-vertical {
  @extend %slider-roller;
  width: $secondary-size;
  height: 100%;
}
//Стили контейнера мерной шкалы.
%scale-container {
  position: absolute;
  display: flex;
  left: -5px;
  top: $secondary-size;
  width: 100%;
  height: min-content;
}
%scale-container-vertical {
  @extend %scale-container;
  left: $secondary-size;
  top: 2.5px;
  width: min-content;
  height: 100%;
}
//Стили рычажков.
%handle-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $handle-size;
  height: $handle-size;
}
%handle-view {
  position: relative;
  left: -($handle-size - ($handle-size/2));
  width: $handle-size;
  height: $handle-size;
  border-radius: $handle-size/2;
  background-color: aquamarine;
  user-select: none;
  z-index: 1;
}
%handle-value {
  position: absolute;
  left: -5px;
  top: -($font-size + 2px);
  max-width: 10px;
  width: 10px;
  height: 5px;
  font-size: $font-size;
  user-select: none;
}
%handle-value-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
//
%handle-container-vertical {
  @extend %handle-container;
}
%handle-view-vertical {
  @extend %handle-view;
  top: ($handle-size - ($handle-size/2));
  left: - ($handle-size/2 - ($secondary-size/2) +1px);
}
%handle-value-vertical {
  @extend %handle-value;
  left: -16px;
  top: 7.5px;
}
%handle-value-text-vertical {
  @extend %handle-value-text;
  justify-content: flex-end;
}
//Стили меток мерной шкалы.
%scale-mark-container {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
}
%scale-mark-separator {
  height: 15px;
  width: 2px;
  background-color: black;
}
%scale-mark-value {
  max-width: 10px;
  width: 10px;
  height: 5px;
  font-size: $font-size;
  user-select: none;
}
%scale-mark-value-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
//
%scale-mark-container-vertical {
  @extend %scale-mark-container;
  flex-direction: row;
}
%scale-mark-separator-vertical {
  @extend %scale-mark-separator;
  height: 0.2px;
  width: 5px;
}
%scale-mark-value-vertical {
  @extend %scale-mark-value;
}
%scale-mark-value-text-vertical {
  @extend %scale-mark-value-text;
  margin-left: 1px;
  justify-content: flex-start;
}
//Стили полос заполненности.
%flip-scrip {
  position: absolute;
  height: $secondary-size - 2px;
  background: linear-gradient(270deg, blue, pink);
}
%flip-scrip-vertical {
  position: absolute;
  width: $secondary-size - 2px;
  background: linear-gradient(180deg, blue, pink);
}
